{% extends 'core/layout_split.html' %}
{% load staticfiles compress i18n %}

{% block css %}
    {% compress css %}
    {{block.super}}

    <link rel="stylesheet" type="text/x-scss" href="{% static "css/process.scss" %}" />

    {% endcompress %}

    <link rel="stylesheet" href="{% static 'css/chart.css' %}" />

{% endblock %}

{% block js %}
    <script src='https://www.google.com/jsapi'></script>
    <script type="text/javascript" src="{% static 'js/schwaechen.js' %}"></script>
{% endblock %}

{% block controller %}
DefaultController
{% endblock %}


{% block side_content %}
    <div id="process_sidebar">
        <h2>Ergebnisse der Trendkonferenz</h2>
        <p>vom 21. bis 23. Januar 2016</p> 
        
        <a href="/ziele/">
        <h3>Ziele des Landkreises</h3>
        </a>

        <a href="/staerken/">
            <h3>Stärken des Landkreises</h3>
        </a>
        
        
        <h3>Schwächen des Landkreises</h3>    
    </div>

{% endblock %}


{% block main_content %}
    <!--h2 class="spacer">&nbsp;</h2-->
    <h2>Die Schwächen des Landkreises</h2>

    <p>Das folgende Diagramm zeigt das Schwächenprofil des Landkreises. Über den Diagrammsäulen und in den Klammern hinter den einzelnen Schwächen im Text ist die Anzahl der erhaltenen Punkte angegeben.</p>
    

    <div class="container">
        <div class="grid">
            <!-- <div class="col-1-1"> -->
                <div id="chart_div1" class="chart"></div>
        </div>
    </div>
    
    <ol>
        <li>
            <h3>Tote Innenstädte (62 Punkte)</h3>
            <p>Die größte Sorge der Jugendlichen ist das Aussterben des städtischen Lebens im Landkreis. Der Ge-bäudeleerstand wirke sich sehr negativ auf die Zentren der Städte und Dörfer aus. Der Marktplatz in Lichtenfels sowie der Dorfkern von Burgkunstadt seien durch Gebäudeleerstand geprägt, was gerade für neu Hinzuziehende einen schlechten Eindruck erwecken würde. Zudem gebe es zu wenig Einzel-handelsgeschäfte und eine zu geringe Vielfalt an Restaurants/Bars/Cafés. Die existierenden Geschäf-te in Lichtenfels seien zu dezentral in der Stadt verteilt. Die Fußgängerzone in Lichtenfels sei leer, es sei „wenig los in LIF“. Viele Jugendliche kritisierten, dass das Einkaufszentrum LIF-E die Innenstadt zerstöre, weil es den Einzelhandel vertreibe und so zu Leerstand und zu wenig Vielfalt führe. Das Image der Stadt sei als „Korbstadt“ veraltet und als „Drogenstadt“ unvorteilhaft.</p>
            <p>Konkret wurde kritisiert, dass es keinen „Kentucky Fried Chicken (KFC)“ und kein „Musclecars“ Auto-geschäft gebe. In manche Lokalitäten gebe es unter 18 Jahren keinen Einlass ohne „Muttizettel“.</p>
        </li>
        <li>
            <h3>ÖPNV Angebot (41 Punkte)</h3>
            <p>Der Nahverkehr wird als zu schlecht durchdacht und teuer erlebt. Die Busverbindungen in die Dörfer seien mangelhaft und es gebe keinen Fernbahnhof mehr. Die BewohnerInnen seien auf ein Auto angewiesen. Schulbusfahrten würden ab der 11. Klasse nicht mehr übernommen werden und insge-samt sei Bus- und Zugfahren zu teuer. Die Jugendlichen wünschen sich Jugendtarife und mehr Schul-busse. In der Nacht fehle es an Taxis. Die Autobahnanbindung müsse dringend ausgebaut werden. </p>
        </li>
        <li>
            <h3>Defizite in der  Infrastruktur (Internet, Zustand der Straßen) (29 Punkte)</h3>
            <p>Für viele Jugendlichen ist die Internetanbindung ein zentrales Thema. Diese sei im Landkreis unter-schiedlich schnell. Das Mobilfunknetz wird bemängelt. Auch die Sauberkeit der Straßen ließe auf-grund eines schlechten Räumungsdienstes zu wünschen übrig. </p>
        </li>
        <li>
            <h3>Kriminalität und Drogen (27 Punkte)</h3>
            <p>Allgemein gebe es eine hohe Verbrechensquote im Landkreis. Auch ein erhöhter Handel mit Drogen und Konsum wird angesprochen. Lichtenfels wird als der „größte Drogenumschlagsplatz in Oberfran-ken“ betitelt. Als Frau müsste man nachts in Lichtenfels Angst haben.</p>
        </li>
        <li>
            <h3>Studienmöglichkeiten und Begabtenförderung (25 Punkte)</h3>
            <p>In Teilbereichen der Bildung- und Weiterbildungsmöglichkeiten gibt es nach Angaben der Jugendli-chen Defizite: So gebe es keine Uni oder FH, wenig Begabtenförderung und Förderung von sozial schwächer Gestellten, Spezialisierungsmöglichkeiten seien wenig gegeben und es fehle an Informa-tiklehrerInnen. Das Gymnasium Burgkunstadt wurde mit einem „heruntergekommenen Gefängnis“ verglichen.</p>
        </li>
        <li>
            <h3>Defizite in der Wirtschaft (Arbeitsplätze) (23 Punkte)</h3>
            <p>In Teilbereichen der Wirtschaft wiese der Landkreis ein Defizit auf. Insgesamt gebe es zu wenig at-traktive Arbeitsplätze (u.a. im Handwerk), Praktika und Neben-/Ferienjobs in der Region. Die Ar-beitswege seien teilweise sehr lang und es herrsche eine mangelnde Kompetenz bei Fachkräften, eine geringe Produktionsvielfalt und eine Branchenspezialisierung auf die Bereiche des Baugewerbes und der IT-Branche. Des Weiteren wird das Brauhaus „Leikheim“ kritisiert sowie ein Mangel an Fast-food-Unternehmen festgestellt.</p>
        </li>
        <li>
            <h3>Mangel an Veranstaltungen und Kulturangeboten (19 Punkte)</h3>
            <p>Die Jugendlichen kritisierten, dass es zu wenige kulturelle Einrichtungen im Landkreis gebe. Es fehle an Shopping-Möglichkeiten, Diskos und andere Ausgehmöglichkeiten. Vereine würden zu wenig Un-terstützung erfahren und die Auswahl an Heimat- und Kulturangeboten für Kinder sei zu gering. Re-gionale Bands hätten keine Probe- und Auftrittsräume. Die Sauberkeit des Baggersees in Oberwallen-stadt wird kritisiert, außerdem fehle es dort an einem Kiosk und Spielmöglichkeiten. AnwohnerInnen würden Veranstaltungen boykottieren.</p>
        </li>
        <li>
            <h3>Defizite bei den Freizeitangeboten für Jugendliche (14 Punkte)</h3>
            <p>Es wird bemängelt, dass es nicht genügend Angebote für junge Menschen gebe. Dazu zählt, dass die Ferienangebote zumeist nur für Kinder bis 12 Jahre zugänglich seien, es wenig Sportangebote gebe, der Zustand der Grünflächen mangelhaft sei und ein Hallenbad in Burgkunstadt sowie eine Indoor-soccer-Halle und Trampolinwelt fehle. Auch die Abendgestaltungsmöglichkeiten und Kulturangebote werden kritisch gesehen. Fitnessstudios seien nur für Fortgeschrittene vorhanden und es gebe kein American-Footballstadion.</p>
        </li>
        <li>
            <h3>Zustand öffentlicher Orte (8 Punkte)</h3>
            <p>Ein weiterer Kritikpunkt ist, dass öffentliche Einrichtungen, wie das Krankenhaus, der Bahnhof, Schu-len und Spielplätze nicht ausreichend gepflegt seien. Es fehle an Toiletten auf dem Bahnhofsgelände.</p>
        </li>
        <li>
            <h3>Brauereien schließen (6 Punkte)</h3>
            <p>Die Jugendlichen kritisieren, dass so viele Brauereien im Lichtenfelser Landkreis schließen. </p>
        </li>
        <li>
            <h3>Generationenkonflikte (6 Punkte)</h3>
            <p>In der Innenstadt gebe es zu viele ältere Menschen und viele Menschen würden sich über die erhöhte Lautstärke bei Veranstaltungen beschweren.</p>
        </li>
    </ol>

{% endblock %}