{% extends 'core/layout_split.html' %}
{% load staticfiles compress i18n %}

{% block css %}
    {% compress css %}
    {{block.super}}

    <link rel="stylesheet" type="text/x-scss" href="{% static "css/process.scss" %}" />

    {% endcompress %}
{% endblock %}

{% block js %}
    <script src='https://www.google.com/jsapi'></script>
    <script type="text/javascript" src="{% static 'js/ziele.js' %}"></script>
{% endblock %}

{% block controller %}
DefaultController
{% endblock %}


{% block side_content %}
    <div id="process_sidebar">
        <h2>Ergebnisse der Demografiewerkstatt</h2>
        
        <h3>Ziele des Landkreises</h3>
        
        <a href="/staerken/">
            <h3>Stärken des Landkreises</h3>
        </a>
        
        <a href="/schwaechen/">
            <h3>Schwächen des Landkreises</h3>
        </a>
    </div>
{% endblock %}


{% block main_content %}
    <!--h2 class="spacer">&nbsp;</h2-->
    <h2>Die Ziele des Landkreises</h2>

    <p>Nachfolgend die Ziele des Landkreises Lichtenfels sowie die grafische Auswertung der Ergebnisse aus der Demografiewerkstatt welche am 21. und 22. Januar 2016 in Lichtenfels auf Kloster Banz stattfand:</p>
    

    <div class="container">
        <div class="grid">
            <!-- <div class="col-1-1"> -->
                <div id="chart_div1" class="chart"></div>
        </div>
    </div>
    

{% endblock %}