{% extends 'core/startpage.html' %}
{% load staticfiles %}

<!-- In this file you can edit the content of the wbc-startpage -->

<!-- Top of the startpage with headline, search bar and background image -->
            {% block top %}
                <div id="top-container">
                    <div class="container">
                        <div class="top-overlay text-center">
                            <h1>OpenPlots - know where to invest in real estates</h1>
                            <div class="search-container">
                                <wbc-search text="Search for plots, key plans, construction permits..."></wbc-search>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}


 <!-- Block of Navigation Boxes -->
            {% block nav-boxes %}            
            <div class="bottom-block">
            <h2 class="wbc-headline"> What can you do here? </h2>
            <div class="wbc-divider"></div>
            <div class="container">

              <p>Find new plots <a href="{% url 'search' %}">of currently running</a> planning projects <strong>approx.3 years before</strong> the construction phase.</a> 
              You don't wanna checkout every day the urban development? <br>
              Stay informed and get <a href="{% url 'search' %}">notifications</a> early as possible! 
              To understand better the urban planning and public authorities <a href="{% url 'process' %}">processes</a> click here.</p>

              <div id="navigation-boxes" class="container">

                <div class="col-md-4">
                    <a href="{% url 'search' %}">
                        <div class="teaser">
                            <i class='fa fa-search'></i>
                            <p>Find your perfect plot!</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'process' %}">
                        <div class="teaser">
                            <i class='fa fa-book'></i>
                            <p>Encyclopaedia</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'map' %}">
                        <div class="teaser">
                            <i class='fa fa-bell-o'></i>
                            <p>Subscribe for Notifications</p>
                        </div>
                    </a>
                </div>
              </div>
            </div> 
            {% endblock %}



<!-- Optional Navigation Menu at the bottom of the  -->
<!-- To activate, remove the comments in the startpage.html> -->

<!--        {% block nav-tabs %}

            <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#start-tab" data-toggle="tab">Startseite</a></li>
                    <li><a href="#news-tab" data-toggle="tab">Aktuelles</a></li>
                    <li><a href="#" data-toggle="tab">Impressum</a></li>
                  </ul> 

            {% endblock %}

-->

<!-- Content Blocks i.e. with questions or other content -->

            {% block questions %}

            <!-- block -->
            <div class="bottom-block">
                <h2 class="wbc-headline">What is OpenPlots?</h2>
                <div class="wbc-divider"></div>
                <div class="container">
                  <p>
                    OpenPlots is an <strong> open data-based </strong> platform for accessing information on concrete building projects up to three years in advance and information on location factors - facilitating decision-making for real estate developers, architects, urban planners and any stakeholder interested in real estate.
                  </p>
                </div>
            </div>

            <!-- block -->
            
            <div class="bottom-block">
                <h2 class="wbc-headline">Who runs this platform?</h2>
                <div class="wbc-divider"></div>
                <div class="container">
                  <p>
                    WE-BUILD.CITY SERVICES UG (haftungsbeschränkt) is an aspiring company from Hamburg & Berlin (Germany) that seeks to develop innovative programs to support the public authority's work in relation to urban planning. As a <strong>software and service provider </strong> for the public authorities and the citizens, we provide digital solutions for making urban planning and administration processes more transparent for the citizens and more legitimate, on basis of our <strong>Open Source Platform We-build.city</strong>. We support public administrations and operators of local news platforms (e.g. local newspapers, blogs, etc.) in their work, making their communication process faster, more effective and easier.
                  </p>
                </div>
            </div>
            {% endblock %}


<!-- Upcomming Events -->

<!--         {% if upcoming %}
        <div class="bottom-block">
            <h2 class="wbc-headline">Aktuelle Veranstaltungen &amp; Projekte mit Bürgerbeteiligung</h2>
            <div class="wbc-divider"></div>
            <div class="upcoming container">
                    {% for project in upcoming %}
                    <a href="{{project.get_absolute_url}}">
                        <div class="project-description col-md-4">
                            {% if project.gallery %}
                            <img class="description_img" src="{{project.gallery.photos.all.0.get_description_url}}" />
                            {% else %}
                            <img class="description_img" src="{% static 'img/person_placeholder.png' %}" />
                            {% endif %}
                            <div>
                                <h3>{{project.name}} {% if project.identifier %} ({{project.identifier}}) {% endif %}</h3>
                                {% if project.address_obj %}
                                <p >{{project.address_obj.street}}  {{ project.address_obj.streetnumber }}</p>
                                <p>{{project.get_teaser}}</p>
                                {% endif %}
                            </div>
                            {% if project.get_next_date %}
                            <div class="next-date">
                                <p title="Nächste Veranstaltung"><i class="fa fa-calendar"> </i>
                                {{project.get_next_date.title}}</p>
                                <p  class="date text-muted">{{project.get_next_date.begin}}</p>
                            </div>
                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
            </div>
        </div>
        {% endif %}
-->
