{% extends 'core/startpage.html' %}
{% load staticfiles i18n %}

<!-- In this file you can edit the content of the wbc-startpage -->

<!-- Top of the startpage with headline, search bar and background image -->
{% block top %}
<div id="top-container">
    <div class="top-container-tint">
    </div>
    <div class="container">
        <div class="top-overlay text-center">
            <h1><span class="text-on-image">{% trans "ORIGIN: Neue Ideen für den Landkreis Lichtenfels" %}</span></h1>
            <h3><span class="text-on-image">{% trans "ORIGIN: Die Ideen wurden von Jugendlichen aus dem Landkreis Lichtenfels entwickelt" %}</span></h3>
            <div class="search-container">
                <wbc-search text=" {% trans "Suche: Bauvorhaben, 3D Modelle, Bebauungspläne, etc." %}"> </wbc-search>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <button class="new-project-button wbc-alarm-button btn btn-default modal-button" data-form="{% url 'project_create' %}" data-title="{% trans 'Projekt hinzufügen' %}">{% trans 'Neues Project erstellen' %}</button>
    {% else %}
    <button class="new-project-button wbc-alarm-button btn btn-default login-button" data-toggle="modal" data-target="#login-modal" data-form="{% url 'register_method' %}" data-title="Anmelden">{% trans 'Neues Project erstellen' %}</button>

    {% endif %}
</div>
{% endblock %}
<!-- Have to be add: Link & Credit to author of the image: https://www.flickr.com/photos/lobostudio/5070193235 -->

{% block nav-boxes %}
<div class="bottom-block">
    <div class="wbc-headline">
        <div class="container">
            <h2>Was kannst Du hier tun?</h2>
        </div>
    </div>
    <div class="wbc-divider"></div>
    
    <div class="container">

        <p class="startpage-text">Hier kannst Du:

        <br>
        <br>
        
            <ul>
                <li>Dich &uuml;ber <a href="{% url 'search' %}">laufende Ideen, Projekte und Lösungsvorschläge </a> informieren</li>
                <li> ein <a class="modal-button" data-toggle="modal" data-target="#modal" data-form="/benutzerkonto/registrieren/" data-title="{% trans 'Benutzerkonto registrieren' %}" href="#">{% trans "kostenloses Benutzerkonto anlegen" %}</a> {% trans "um über Änderungen auf dem Laufenden gehalten zu werden!" %} </li>
            </ul>

        <div id="navigation-boxes">

            <div class="col-sm-12 wbc-teaser-container">
                <div class="wrapper">
                    <a href="/suche/tags=Favoriten" >
                        <div class="teaser">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <p>Klick hier für unsere Favoriten!</p>
                        </div>
                        <div class="wbc-overlay">
                            <h2>Hier findest Du unsere besten Ideen!</h2>
                        </div>
                    </a>
                </div> 
            </div> 

        </div>

        <div id="navigation-boxes">

        {% for box in topIcons %}
            <div class="col-sm-12 wbc-teaser-container">
                <div class="wrapper">
                    <a href={{box.link}}>
                        <div class="teaser">
                            <i class='fa {{box.icon}}'></i>
                            <p>{{box.text}}</p>
                        </div>
                        <div class="wbc-overlay">
                            <h2>{{box.overlay}}</h2>
                        </div>
                    </a>
                </div> 
            </div> 
        {% endfor %}

        </div>

    </div>
</div>
{% endblock %}


<!-- Block of Topic Boxes -->
{% block topic-boxes %}

<div class="bottom-block">
    <div class="wbc-headline">
        <div class="container">
            <h2>Gruppen</h2>
        </div>
    </div>
    <div class="wbc-divider"></div>
    <div class="container">

  <!-- p>Themen, um die es hier geht: <a href="{% url 'search' %}">laufenden Ideen & L&ouml;sungsans&auml;tze</a> informieren, Dich beteiligen und immer auf dem neusten Stand bleiben!</p -->

        <div id="navigation-boxes" class="container">
        {% for box in botIcons %}
            <div class="col-sm-4 wbc-teaser-container">
                <div class="wrapper">
                    <a href={{box.link}}{{box.params}}>
                        <div class="teaser">
                            <i class='fa {{box.icon}}'></i>
                            <p>{{box.text}}</p>
                        </div>
                        <div class="wbc-overlay">
                            <h2>{{box.overlay}}</h2>
                        </div>
                    </a>
                </div> 
            </div> 
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


<!-- Startpage Footer -->



{% block footer %}

<div id="wbc-footer-container">
    <div id="wbc-footer" class="container">
        <div class="col-sm-4">
            <h4>
                <a href="/" target="_blank">Sandgemeinde Amelinghausen</a>
            </h4>
        </div>
        
        <div class="col-sm-4">
            <h4 class="text-center">
                <a href="http://jugend-demografie-dialog.de/impressum/">Impressum &amp; Datenschutzerklärung</a>
            </h4>
        </div>

        <div class="col-sm-4">
            <h4 class="pull-right">
                <a href="https://github.com/webuildcity" target="_blank">Offener Quellcode</a>
            </h4>
        </div>
</div>
</div>

{% endblock %} -->
