{% load staticfiles %}
<li>
    <a href="/blog">BLOG</a>
</li>
<!-- <li>
    <a href="/lexikon"><i class='fa fa-book'></i>Lexikon</a>
</li> -->
<li role="presentation" class="dropdown">
    {% if user.is_authenticated %}
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
        {% if user.profile.stakeholder.picture %}
            <img class="user_img" src="{{ user.profile.stakeholder.thumbnail.url }}" />
        {% else %}
            <img class="user_img" src="{% static 'img/person_placeholder.png' %}" />
        {% endif %}  
        </i>{{user.username}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a href="{% url 'stakeholder' user.profile.stakeholder.slug %}">Dein Profil</a>
        </li>
        <li>
            <a href="{% url 'profile_update' %}">Deine Einstellungen</a>
        </li>
        <li>
            <a href="{% url 'password_change' %}">Passwort ändern</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="{% url 'start' %}">Deine Projekte</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="{% url 'logout' %}">Abmelden</a>
        </li>
    </ul>
    {% else %}
    <a class="login-button" data-toggle="modal" data-target="#modal" data-form="{% url 'register_method' %}" data-title="Anmelden" href="#">Anmelden</a>

    {% endif %}
</li>
