  /* Fonts */

@font-face {
  font-family: roboto;
  font-weight: 400;
  src: url('/static/font/Roboto-Light.ttf'); }

@font-face {
  font-family: opensans;
  src: url('/static/font/OpenSans-Light.ttf'); }

@font-face {
  font-family: roboto;
  src: url('/static/font/Roboto-Light.ttf');
  font-weight: bold; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/font/MaterialIcons-Regular.woff2') format('woff2'); }  

$font-nav: bold 1em roboto;
$font-body-copy: 1em roboto;
$font-h1: bold 1.9em roboto;
$font-h2: 1.45em roboto;
$font-h3: bold 1em/1.25em roboto;
$font-h4: bold 0.875em/1.25em roboto;

/* Palette */

$primary-color: #444;
$primary-color-dark: darken($primary-color, 20%);
$primary-color-light: lighten($primary-color, 30%);


/* Links */
$link-color: #AC1010;
$link-color-dark: darken($link-color, 20%);
$link-color-light: lighten($link-color, 30%);


$headline-color: $primary-color;

$highlight-color: #AC1010;

$primary-text: #444;
$secondary-text: #FFFFFF;

$icon-color: #f6f6f6;
$icon-admin-edit-color: $primary-color;

$background-color: #FFFFFF;
$background-color-header: $background-color;
$background-color-startpage-content: $highlight-color;
$background-color-comments: #f2f2f2;
$background-color-timeline-content: #f2f2f2;
$background-color-search-result: #FFFFFF;
$secondary-background-color: #f6f6f6;



/* Images */

$startpage-image: url(static('img/startpage.jpg'));

$background-image: url(static('img/background.png'));
$background-image-light: none;


/* No function at the moment 

$project-placeholder: url(static('img/project_placeholder.png'));
$person-placeholder: url(static('img/person_placeholder.png'));

$logo-image: url(static('img/title.png'));
$favicon: url(static('img/favicon.png'));

$participation: url(static('img/participation.png'));
$no-participation: url(static('img/no-participation.png'));

$startpage-person1: url(static('img/wbc-timo-lundelius.jpg'));
$startpage-person2: url(static('img/wbc-solveig-schroeder.jpg')); 

*/

@mixin branding() {
  padding-top: 5px;

  img {
      height: 36px;
  }
}
