/* Fonts */

@font-face {
  font-family: roboto;
  font-weight: 400;
  src: url('/static/font/Roboto-Light.ttf'); }

@font-face {
  font-family: opensans;
  src: url('/static/font/OpenSans-Light.ttf'); }

@font-face {
  font-family: roboto;
  src: url('/static/font/Roboto-Light.ttf');
  font-weight: bold; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/font/MaterialIcons-Regular.woff2') format('woff2'); }  

$font-nav: bold 1em roboto;
$font-body-copy: 1em roboto;
$font-h1: bold 1.75em roboto;
$font-h2: 1.45em roboto;
$font-h3: bold 1em/1.25em roboto;
$font-h4: bold 0.875em/1.25em roboto;

/* Palette */

$primary-color: #444;
$primary-color-dark: darken($primary-color, 20%);
$primary-color-light: lighten($primary-color, 30%);


$headline-color: $primary-color;

$highlight-color: #4285f4;

$primary-text: #444;
$secondary-text: #FFFFFF;

$icon-color: #f6f6f6;
$icon-admin-edit-color: $primary-color;

$background-color: #FFFFFF;
$background-color-comments: #f2f2f2;
$background-color-timeline-content: #f2f2f2;
$secondary-background-color: #f6f6f6;
$background-image: url(static('img/background.png'));
$background-image-light: none;
$startpage-image: url(static('img/startpage.jpg'));

@mixin branding() {
  padding-top: 5px;

  img {
      height: 36px;
  }
}
