$primary-color-dark: #990033;
$primary-color: #990033;
$primary-color-light: #CC0033;


$headline-color: $primary-color;
$highlight-color: #CC0033;

$primary-text: #CC0033;
$secondary-text: #fff;
$primary-secondary: #727272;
$divider-color: #CC0033;

$icon-color: #fff;


$background-image: url(static('img/background.png'));
$background-image-light: none;
$startpage-image: url(static('img/startpage.jpg'));
