{% extends 'core/page.html' %}
{% load compress %}
{% block css %}
    {% compress css %}
    {{block.super}}
    {% endcompress %}
{% endblock %}

{% block page %}

<h2>Impressum</h2>

Inhaltliche Leitung des Projekts:
<p style="line-height: 1.5em;">
    <br>
    Claudius Schulze <br>

    Rechpacherstr. 7 <br>
    80689 München <br>
    mail@claudiusschulze.com<br>

    mobile phone:<br>
    +49 179 3245823<br>
</p>



<br>
Technische Umsetzung und Bereitstellung der Website:
<p style="line-height: 1.5em;">
    Code for Hamburg Lab <br>

    c/o Open Knowledge Foundation Deutschland e.V. <br>
    Singerstr. 109 <br>
    10179 Berlin <br>
    Deutschland <br>
    <br>
    Vereinsregister Nr: VR 30468 B <br>
    Steuernummer: 27/674/52428 <br>
    VAT: DE278022128 <br>
    <br>
    Kontakt: info[at]codefor.de +49 30 57703666-0 Fax: +49 30 57703666-9 <br>    
</p>



<h4>Haftung für Inhalte</h4>

<p>
    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
</p>

<h4>Haftung für Links</h4>

<p>
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
</p>

<h4>Urheberrechte der verwendeten Bilder und Icons</h4>


<h4>Datenschutzerklärung</h4>

<p>
    Der Schutz Ihrer personenbezogenen Daten ist uns ein zentrales Anliegen.   Sämtliche Anforderungen des Bundesdatenschutzgesetzes (BDSG), Telemediengesetzes (TMG) sowie alle weiteren datenschutzrechtlichen Vorschriften werden von uns eingehalten. Sie können unsere Seite besuchen, ohne Angaben zu Ihrer Person zu machen. Wir speichern lediglich Zugriffsdaten ohne Personenbezug.
</p>


<ul>
    <li>die Rechneradresse (IP-Adresse) in gekürzter Form,</li>
    <li>die Seite, von der aus die Datei angefordert wurde,</li>
    <li>der Name der übertragenen Datei,</li>
    <li>das Datum und die Uhrzeit der Abfrage,</li>
    <li>die übertragenen Datenmenge,</li>
    <li>der Zugriffsstatus (Datei übertragen, Datei nicht gefunden etc.) und</li>
    <li>eine Beschreibung des Typs des verwendeten Webbrowsers.</li>
</ul>

<p>
    Piwik erzeugt sog. „<a href="http://de.wikipedia.org/wiki/Cookie" target="_blank">Cookies</a>“. Dabei handelt es sich um Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung unserer Website ermöglichen. Die in dem Cookie enthaltenen Informationen werden auf unseren Webserver übertragen und dort gespeichert. Wir benutzen diese Informationen, um die Nutzung unserer Website auszuwerten. Dies machen wir, um unsere Webseite den Bedürfnissen unserer Nutzer besser anpassen und verbessern zu können.
</p>

{% endblock %}
