{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="{% static 'frontend/inline.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/styles.08ef84e3233593b10d3e.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/scripts.cb83f758519bcdfb4752.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/main.9aafccd73d3395064d35.bundle.js' %}"></script></body>
</html>
