<div class="info-wrapper">
    <div class="container">
        <div class="responsive-video">
            <iframe src="https://player.vimeo.com/video/112114334" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><p><a href="https://vimeo.com/112114334">We-build-Hamburg / Wir-bauen-hamburg.de</a> from <a href="https://vimeo.com/lundelius">Timo Lundelius</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Worum geht es hier?</h2>
            <p>
                Bevor in Hamburg gebaut werden kann, müssen dafür häufig erst die rechtlichen Grundlagen geschaffen werden. So kann es beispielsweise sein, dass bevor ein Haus gebaut werden darf, erst der entsprechende <strong>Bebauungsplan</strong> geändert werden muss. Im Rahmen eines solchen Bebauungsplanverfahren ist die Beteiligung der Bürger vorgesehen. Das heißt, dass die Pläne vier Wochen öffentlich ausgelegt werden müssen und die Bürger sich daran beteiligen können.
            </p>
            <p>
                Die Marker auf der Karte stehen für Orte, an denen ein Bauvorhaben geplant ist und zu dem gerade die Planungsunterlagen  ausliegen und Beteiligung möglich ist. Sobald die die Beteiligungsfrist abgelaufen ist, verschwinden die Marker von der Karte. Die angezeigten Informationen stammen alle aus dem wöchentlich erscheinendem Amtsblatt von Hamburg, das wir mit Unterstützung der Naturschutzverbände manuell auswerten.
            </p>
        </div>
        <div class="col-md-3">
            <div class="sep60"></div>
            <a href="" class="link" ng-click="showMap()">
                Zurück zur Karte
            </a>
        </div>
    </div>
</div>
